{# Load the tag library #}
{% load bootstrap3 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

  </head>

  <body>
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <div class="page-header">
                <h2>Registrar Evento</h2>
            </div>

            <form class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Email</label>
                    <div class="col-sm-8">
                        <input id="event" type="text" class="form-control" placeholder="Evento">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Categoria</label>
                    <div class="col-sm-8">
                        <select id="category" class="form-control">
                            <option selected value="0">Seleccione una categoria</option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Lugar</label>
                    <div class="col-sm-8">
                        <input id="place" type="text" class="form-control" placeholder="Lugar">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Fecha inicial</label>
                    <div class="col-sm-8">
                        <input id="initDate" type="date" class="form-control" placeholder="Fecha inicial">
                    </div>
                  </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Fecha final</label>
                    <div class="col-sm-8">
                        <input id="endDate" type="date" class="form-control" placeholder="Fecha final">
                    </div>
                  </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Tipo Evento</label>
                    <div class="col-sm-8">
                        <select id="eventType" class="form-control">
                            <option selected value="0">Seleccione un tipo de evento</option>
                        </select>
                    </div>
                </div>

                <input id="save" type="submit" value="Guardar" class="btn btn-primary"/>
                <a href="../" class="btn btn-primary">Cancelar</a>
            </form>

        </div>
    </div>
    <script>
        $( document ).ready(function() {
            var url1 = window.location.origin + "/api/";
            var url2 = window.location.origin + "/";
            var  _doAjax = function (sType, uri, data, fnSuccess, fnError, _async) {
                 if (!data) data = {};
                 if (!fnError) fnError = this._defaultErrorHandler;
                 if (!_async) _async = true;
                 $.ajax({
                     type: sType,
                     url: uri,
                     data: data,
                     async: _async,
                     contentType: "application/json; charset=utf-8",
                     dataType: "json",
                     success: fnSuccess,
                     error: fnError
                 });
            };

            var getAllCategory = function () {
                _doAjax("GET", url1 + "category/" ,{},function (resp) {
                    //console.log(resp);
                    var options = $("#category");
                    $.each(resp, function() {
                        options.append($("<option />").val(this.id).text(this.name));
                    });
                },null,true);
            };
            var getAllEventType = function () {
                _doAjax("GET", url1 + "eventType/" ,{},function (resp) {
                    //console.log(resp);
                    var options = $("#eventType");
                    $.each(resp, function() {
                        options.append($("<option />").val(this.id).text(this.name));
                    });
                },null,true);
            };
            getAllCategory();
            getAllEventType();
            //alert("Hola");
            var getDate = function (stringDate) {
                if(stringDate){
                    var from = stringDate.split("-");
                    return new Date(from[0], from[1] - 1, from[2]);
                }
                return stringDate;
            };
            var getEvent = function () {
                var obj = {} ;
                obj.event = $('#event').val();
                obj.place = $('#place').val();
                obj.initialDate = $('#initDate').val();
                obj.finalDate = $('#endDate').val();
                obj.category = $('#category').val();
                obj.eventType = $('#eventType').val();
                //console.log(obj)
                return obj;
            };

            var validateFields =  function (event) {
                if(    !event.event       || !event.place
                    || !event.initialDate || !event.finalDate
                    || !event.category    || !event.eventType ){
                    return false;
                    alert("Complete todos los campos!");
                }
                return true;
            };

            var addEvent = function () {
                var event = getEvent();
                console.log( JSON.stringify( event));
                if(validateFields(event)){
                    _doAjax("POST", url2 + "addEvent/" , JSON.stringify(event) ,function (resp) {
                        console.log(resp);
                    },function (err) {
                        console.log("err", err);
                    },true);
                }
            };
            $( "#save" ).click(function() {
                addEvent();
            });
        });
    </script>
  </body>

</html>